*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@import "header";
@import "footer";
@import "body";
@import "nosotros";
@import "grid";
@import "localidad";

